* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(36, 31, 33, 255);
}

body {
  background-color: #ffe3d8;
  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: rgba(36, 31, 33, 255);
  margin-bottom: 20px;
}

.header .buttons {
  margin-left: 15px;
  padding: 10px 20px;
  background: #ffe3d8;
  color: rgba(36, 31, 33, 255);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.header .buttons:hover {
  background: rgba(36, 31, 33, 255);
  color: #ffe3d8;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #f3e7e3;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 1;
  padding: 20px;
}

.right {
  flex: 2;
  padding: 20px;
}

.profile {
  text-align: center;
}

.profile .frame {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ddd;
}

.profile img {
  width: 100%;
  height: auto;
}

.profile h2 {
  font-size: 24px;
}

.profile h2 span {
  display: block;
  font-size: 18px;
  margin: 0.5rem;
}

.personal-details .title,
.contact .title {
  font-size: 20px;
  margin: 0.5rem;
}

.personal-details ul,
.contact ul,
.info-section ul {
  list-style: none;
  padding: 0;
}

.personal-details li,
.contact li,
.info-section li {
  margin-bottom: 10px;
  margin-left: 2rem;
}

.personal-details .icon,
.contact .icon {
  margin-right: 10px;
  color: #333;
}

.personal-details .text,
.contact .text,
.contact a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.info-section {
  margin-bottom: 20px;
}

.info-section h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.info-section p {
  font-size: 16px;
  line-height: 1.6;
}
