* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #e6ded9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background: #cfc3bb;
    padding: 1rem 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: rgba(36, 31, 33, 255);
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0.7rem;
    border-radius: 5px;
}

.nav-link:hover {
    background: linear-gradient(180deg, rgba(36, 31, 33, 255), #dabc95);
    transform: translateY(-3px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), -10px -10px 20px rgba(255, 255, 255, 0.1);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    flex: 1;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #cfc3bb;
    transition: transform 0.3s ease;
}

.nav-item:hover {
    transform: scale(1.05);
}

.image-half {
    height: 50%;
    overflow: hidden;
}

.image-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.text-half {
    height: 50%;
    background-color: rgba(36, 31, 33, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0 0 20px 20px;
}

.text-half h5, .text-half p {
    text-align: center;
    margin: 5px;
    color: #cfc3bb;
}

.text-half p {
    font-size: smaller;
}
